In [1]:
import pandas as pd

In [2]:
data=pd.read_excel("unites-mise-en-chantier-par-region-et-par-categorie-2016-2020.xlsx")

In [3]:
data

,Unités d'habitat mis en chantier par région et par catégorie 2016-2020,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Régions,Catégories,2016,NaN,NaN,2017,NaN,NaN,2018,NaN,NaN,2019,NaN,NaN,2020,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Lots,Logements,Total des Unités,Lots,Logements,Total des Unités,Lots,Logements,Total des Unités,Lots,Logements,Total des Unités,Lots,Logements,Total des Unités
4,1- Tanger-Tétouan-Al Hoceïma,Opérations à faible valeur immobilière,196,0,196,1742,754,2496,272,0,272,800,558,1358,748,142,890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,Opérations économiques et sociales,828,8656,9484,906,4596,5502,780,8749,9529,304,9825,10129,463,6321,6784
61,NaN,"App, en Immeubles (moyen et haut standing….)",3121,1422,4543,1218,1173,2391,1703,1360,3063,561,1184,1745,195,399,594
62,NaN,Villas,303,0,303,28,0,28,89,328,417,128,189,317,45,84,129
63,NaN,Total,5451,10412,15863,2360,5836,8196,2788,10849,13637,1764,11266,13030,945,6804,7749
64,Total général,NaN,32370,133873,166243,27079,133685,160764,32297,148795,181092,26944,149276,176220,19800,90813,110613

In [4]:
# Ce script pour la resolution de probleme de nommage pour les colonnes , on a probleme de ligne et de colonnes 
# Resolution de colonnes 
new_columns_names = { 
    "Unités d'habitat mis en chantier par région et par catégorie 2016-2020" : 'Regions' , 
    'Unnamed: 1' : 'Categories' , 
    'Unnamed: 2' : 'Lots_2016' ,
    'Unnamed: 3' : 'Logements_2016' ,
    'Unnamed: 4' : 'TotalUnites_2016' ,
    'Unnamed: 5' : 'Lots_2017' ,
    'Unnamed: 6' : 'Logements_2017' ,
    'Unnamed: 7' : 'TotalUnites_2017' ,
    'Unnamed: 8' : 'Lots_2018' ,
    'Unnamed: 9' : 'Logements_2018' ,
    'Unnamed: 10' : 'TotalUnites_2018' ,
    'Unnamed: 11' : 'Lots_2019' ,
    'Unnamed: 12' : 'Logements_2019' ,
    'Unnamed: 13' : 'TotalUnites_2019' ,
    'Unnamed: 14' : 'Lots_2020' ,
    'Unnamed: 15' : 'Logements_2020' ,
    'Unnamed: 16' : 'TotalUnites_2020' ,
}
data = data.rename(columns=new_columns_names)
# Supprimer les quatre premières lignes
data = data.drop([0, 1, 2, 3])

# Réinitialiser les index
data.reset_index(drop=True, inplace=True)

data.head(20)

,Regions,Categories,Lots_2016,Logements_2016,TotalUnites_2016,Lots_2017,Logements_2017,TotalUnites_2017,Lots_2018,Logements_2018,TotalUnites_2018,Lots_2019,Logements_2019,TotalUnites_2019,Lots_2020,Logements_2020,TotalUnites_2020
0,1- Tanger-Tétouan-Al Hoceïma,Opérations à faible valeur immobilière,196,0,196,1742,754,2496,272,0,272,800,558,1358,748,142,890
1,NaN,Opérations économiques et sociales,53,12323,12376,0,9566,9566,0,6937,6937,540,14646,15186,417,7633,8050
2,NaN,"App, en Immeubles (moyen et haut standing….)",51,3924,3975,382,3783,4165,300,3889,4189,401,4441,4842,378,3272,3650
3,NaN,Villas,0,118,118,0,276,276,6,100,106,0,216,216,0,62,62
4,NaN,Total,300,16365,16665,2124,14379,16503,578,10926,11504,1741,19861,21602,1543,11109,12652
5,2- Dakhla-Oued Ed Dahab,Opérations à faible valeur immobilière,0,0,0,0,0,0,0,0,0,0,50,50,0,0,0
6,NaN,Opérations économiques et sociales,0,838,838,476,775,1251,0,458,458,200,624,824,0,1828,1828
7,NaN,"App, en Immeubles (moyen et haut standing….)",0,24,24,32,56,88,506,25,531,0,30,30,0,236,236
8,NaN,Villas,0,0,0,0,0,0,0,0,0,0,610,610,0,769,769
9,NaN,Total,0,862,862,508,831,1339,506,483,989,200,1314,1514,0,2833,2833
10,3- Guelmim-Oued Noun,Opérations à faible valeur immobilière,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,NaN,Opérations économiques et sociales,300,1539,1839,0,1020,1020,0,915,915,0,964,964,0,722,722
12,NaN,"App, en Immeubles (moyen et haut standing….)",100,0,100,258,0,258,0,0,0,0,0,0,0,0,0
13,NaN,Villas,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,NaN,Total,400,1539,1939,258,1020,1278,0,915,915,0,964,964,0,722,722
15,4- Drâa-Tafilalet,Opérations à faible valeur immobilière,74,0,74,0,0,0,50,0,50,0,0,0,0,0,0
16,NaN,Opérations économiques et sociales,350,95,445,0,915,915,1179,1926,3105,267,3618,3885,0,966,966
17,NaN,"App, en Immeubles (moyen et haut standing….)",0,0,0,415,0,415,1476,0,1476,1022,0,1022,558,0,558
18,NaN,Villas,0,0,0,107,0,107,20,0,20,0,0,0,51,0,51
19,NaN,Total,424,95,519,522,915,1437,2725,1926,4651,1289,3618,4907,609,966,1575

In [5]:
data['Regions'].ffill(inplace=True)
data

,Regions,Categories,Lots_2016,Logements_2016,TotalUnites_2016,Lots_2017,Logements_2017,TotalUnites_2017,Lots_2018,Logements_2018,TotalUnites_2018,Lots_2019,Logements_2019,TotalUnites_2019,Lots_2020,Logements_2020,TotalUnites_2020
0,1- Tanger-Tétouan-Al Hoceïma,Opérations à faible valeur immobilière,196,0,196,1742,754,2496,272,0,272,800,558,1358,748,142,890
1,1- Tanger-Tétouan-Al Hoceïma,Opérations économiques et sociales,53,12323,12376,0,9566,9566,0,6937,6937,540,14646,15186,417,7633,8050
2,1- Tanger-Tétouan-Al Hoceïma,"App, en Immeubles (moyen et haut standing….)",51,3924,3975,382,3783,4165,300,3889,4189,401,4441,4842,378,3272,3650
3,1- Tanger-Tétouan-Al Hoceïma,Villas,0,118,118,0,276,276,6,100,106,0,216,216,0,62,62
4,1- Tanger-Tétouan-Al Hoceïma,Total,300,16365,16665,2124,14379,16503,578,10926,11504,1741,19861,21602,1543,11109,12652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,12- Marrakech-Safi,Opérations économiques et sociales,828,8656,9484,906,4596,5502,780,8749,9529,304,9825,10129,463,6321,6784
57,12- Marrakech-Safi,"App, en Immeubles (moyen et haut standing….)",3121,1422,4543,1218,1173,2391,1703,1360,3063,561,1184,1745,195,399,594
58,12- Marrakech-Safi,Villas,303,0,303,28,0,28,89,328,417,128,189,317,45,84,129
59,12- Marrakech-Safi,Total,5451,10412,15863,2360,5836,8196,2788,10849,13637,1764,11266,13030,945,6804,7749
60,Total général,NaN,32370,133873,166243,27079,133685,160764,32297,148795,181092,26944,149276,176220,19800,90813,110613

In [6]:
# Accéder à la dernière ligne de la deuxième colonne et changer sa valeur
data.iloc[-1, 1] = 'Total general'
data.tail(5)

,Regions,Categories,Lots_2016,Logements_2016,TotalUnites_2016,Lots_2017,Logements_2017,TotalUnites_2017,Lots_2018,Logements_2018,TotalUnites_2018,Lots_2019,Logements_2019,TotalUnites_2019,Lots_2020,Logements_2020,TotalUnites_2020
56,12- Marrakech-Safi,Opérations économiques et sociales,828,8656,9484,906,4596,5502,780,8749,9529,304,9825,10129,463,6321,6784
57,12- Marrakech-Safi,"App, en Immeubles (moyen et haut standing….)",3121,1422,4543,1218,1173,2391,1703,1360,3063,561,1184,1745,195,399,594
58,12- Marrakech-Safi,Villas,303,0,303,28,0,28,89,328,417,128,189,317,45,84,129
59,12- Marrakech-Safi,Total,5451,10412,15863,2360,5836,8196,2788,10849,13637,1764,11266,13030,945,6804,7749
60,Total général,Total general,32370,133873,166243,27079,133685,160764,32297,148795,181092,26944,149276,176220,19800,90813,110613

In [7]:
data.shape

(61, 17)

In [8]:
data.size

1037

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Regions           61 non-null     object
 1   Categories        61 non-null     object
 2   Lots_2016         61 non-null     object
 3   Logements_2016    61 non-null     object
 4   TotalUnites_2016  61 non-null     object
 5   Lots_2017         61 non-null     object
 6   Logements_2017    61 non-null     object
 7   TotalUnites_2017  61 non-null     object
 8   Lots_2018         61 non-null     object
 9   Logements_2018    61 non-null     object
 10  TotalUnites_2018  61 non-null     object
 11  Lots_2019         61 non-null     object
 12  Logements_2019    61 non-null     object
 13  TotalUnites_2019  61 non-null     object
 14  Lots_2020         61 non-null     object
 15  Logements_2020    61 non-null     object
 16  TotalUnites_2020  61 non-null     object
dtypes: object(17)
memory usage: 8.2+ KB

In [10]:
valeurs_uniques_par_colonne = data[['Regions','Categories']].nunique()

print("Nombre de valeurs distinctes pour chaque colonne :")
print(valeurs_uniques_par_colonne)

Nombre de valeurs distinctes pour chaque colonne :
Regions       13
Categories    10
dtype: int64

In [11]:
data.index=data['Regions']

In [12]:
data

,Regions,Categories,Lots_2016,Logements_2016,TotalUnites_2016,Lots_2017,Logements_2017,TotalUnites_2017,Lots_2018,Logements_2018,TotalUnites_2018,Lots_2019,Logements_2019,TotalUnites_2019,Lots_2020,Logements_2020,TotalUnites_2020
Regions,,,,,,,,,,,,,,,,,
1- Tanger-Tétouan-Al Hoceïma,1- Tanger-Tétouan-Al Hoceïma,Opérations à faible valeur immobilière,196,0,196,1742,754,2496,272,0,272,800,558,1358,748,142,890
1- Tanger-Tétouan-Al Hoceïma,1- Tanger-Tétouan-Al Hoceïma,Opérations économiques et sociales,53,12323,12376,0,9566,9566,0,6937,6937,540,14646,15186,417,7633,8050
1- Tanger-Tétouan-Al Hoceïma,1- Tanger-Tétouan-Al Hoceïma,"App, en Immeubles (moyen et haut standing….)",51,3924,3975,382,3783,4165,300,3889,4189,401,4441,4842,378,3272,3650
1- Tanger-Tétouan-Al Hoceïma,1- Tanger-Tétouan-Al Hoceïma,Villas,0,118,118,0,276,276,6,100,106,0,216,216,0,62,62
1- Tanger-Tétouan-Al Hoceïma,1- Tanger-Tétouan-Al Hoceïma,Total,300,16365,16665,2124,14379,16503,578,10926,11504,1741,19861,21602,1543,11109,12652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12- Marrakech-Safi,12- Marrakech-Safi,Opérations économiques et sociales,828,8656,9484,906,4596,5502,780,8749,9529,304,9825,10129,463,6321,6784
12- Marrakech-Safi,12- Marrakech-Safi,"App, en Immeubles (moyen et haut standing….)",3121,1422,4543,1218,1173,2391,1703,1360,3063,561,1184,1745,195,399,594
12- Marrakech-Safi,12- Marrakech-Safi,Villas,303,0,303,28,0,28,89,328,417,128,189,317,45,84,129
12- Marrakech-Safi,12- Marrakech-Safi,Total,5451,10412,15863,2360,5836,8196,2788,10849,13637,1764,11266,13030,945,6804,7749
Total général,Total général,Total general,32370,133873,166243,27079,133685,160764,32297,148795,181092,26944,149276,176220,19800,90813,110613

In [13]:
data.drop(['Regions','TotalUnites_2016','TotalUnites_2017','TotalUnites_2018','TotalUnites_2019','TotalUnites_2020','TotalUnites_2016'],axis=1,inplace=True)

In [14]:
data

,Categories,Lots_2016,Logements_2016,Lots_2017,Logements_2017,Lots_2018,Logements_2018,Lots_2019,Logements_2019,Lots_2020,Logements_2020
Regions,,,,,,,,,,,
1- Tanger-Tétouan-Al Hoceïma,Opérations à faible valeur immobilière,196,0,1742,754,272,0,800,558,748,142
1- Tanger-Tétouan-Al Hoceïma,Opérations économiques et sociales,53,12323,0,9566,0,6937,540,14646,417,7633
1- Tanger-Tétouan-Al Hoceïma,"App, en Immeubles (moyen et haut standing….)",51,3924,382,3783,300,3889,401,4441,378,3272
1- Tanger-Tétouan-Al Hoceïma,Villas,0,118,0,276,6,100,0,216,0,62
1- Tanger-Tétouan-Al Hoceïma,Total,300,16365,2124,14379,578,10926,1741,19861,1543,11109
...,...,...,...,...,...,...,...,...,...,...,...
12- Marrakech-Safi,Opérations économiques et sociales,828,8656,906,4596,780,8749,304,9825,463,6321
12- Marrakech-Safi,"App, en Immeubles (moyen et haut standing….)",3121,1422,1218,1173,1703,1360,561,1184,195,399
12- Marrakech-Safi,Villas,303,0,28,0,89,328,128,189,45,84
12- Marrakech-Safi,Total,5451,10412,2360,5836,2788,10849,1764,11266,945,6804
Total général,Total general,32370,133873,27079,133685,32297,148795,26944,149276,19800,90813

In [15]:
df1=data[data['Categories']=='Total'].drop('Categories',axis=1)

In [16]:
df1

,Lots_2016,Logements_2016,Lots_2017,Logements_2017,Lots_2018,Logements_2018,Lots_2019,Logements_2019,Lots_2020,Logements_2020
Regions,,,,,,,,,,
1- Tanger-Tétouan-Al Hoceïma,300,16365,2124,14379,578,10926,1741,19861,1543,11109
2- Dakhla-Oued Ed Dahab,0,862,508,831,506,483,200,1314,0,2833
3- Guelmim-Oued Noun,400,1539,258,1020,0,915,0,964,0,722
4- Drâa-Tafilalet,424,95,522,915,2725,1926,1289,3618,609,966
5- Béni Mellal-Khénifra,3217,8917,5691,8424,2937,18092,979,8560,523,4116
6- l'Oriental,2447,6234,1837,6163,2731,5491,2275,5773,1386,3607
7- Laâyoune-Sakia El Hamra,631,1142,716,1800,928,1608,425,850,156,2128
8- Fès-Meknès,7143,18897,6286,20064,6899,23098,5618,17925,4014,10944
9- Souss-Massa,1596,17948,213,11997,832,14138,2791,19699,687,5506
10- Casablanca-Settat,3696,20475,2579,28777,5587,33431,6428,40017,1707,15826
11- Rabat-Salé-Kénitra,7065,30987,3985,33479,5786,27838,3434,19429,8230,26252
12- Marrakech-Safi,5451,10412,2360,5836,2788,10849,1764,11266,945,6804

In [17]:
df1.transpose()

Regions,1- Tanger-Tétouan-Al Hoceïma,2- Dakhla-Oued Ed Dahab,3- Guelmim-Oued Noun,4- Drâa-Tafilalet,5- Béni Mellal-Khénifra,6- l'Oriental,7- Laâyoune-Sakia El Hamra,8- Fès-Meknès,9- Souss-Massa,10- Casablanca-Settat,11- Rabat-Salé-Kénitra,12- Marrakech-Safi
Lots_2016,300,0,400,424,3217,2447,631,7143,1596,3696,7065,5451
Logements_2016,16365,862,1539,95,8917,6234,1142,18897,17948,20475,30987,10412
Lots_2017,2124,508,258,522,5691,1837,716,6286,213,2579,3985,2360
Logements_2017,14379,831,1020,915,8424,6163,1800,20064,11997,28777,33479,5836
Lots_2018,578,506,0,2725,2937,2731,928,6899,832,5587,5786,2788
Logements_2018,10926,483,915,1926,18092,5491,1608,23098,14138,33431,27838,10849
Lots_2019,1741,200,0,1289,979,2275,425,5618,2791,6428,3434,1764
Logements_2019,19861,1314,964,3618,8560,5773,850,17925,19699,40017,19429,11266
Lots_2020,1543,0,0,609,523,1386,156,4014,687,1707,8230,945
Logements_2020,11109,2833,722,966,4116,3607,2128,10944,5506,15826,26252,6804

In [38]:
df2=df1.iloc[:2]

In [39]:
df2

,Lots_2016,Logements_2016,Lots_2017,Logements_2017,Lots_2018,Logements_2018,Lots_2019,Logements_2019,Lots_2020,Logements_2020
Regions,,,,,,,,,,
1- Tanger-Tétouan-Al Hoceïma,300,16365,2124,14379,578,10926,1741,19861,1543,11109
2- Dakhla-Oued Ed Dahab,0,862,508,831,506,483,200,1314,0,2833

In [68]:
from bokeh.plotting import figure,show

In [95]:
cols=['Lots_2016','Logements_2016']
regions=list(df1.index)

In [99]:
p=figure(x_range=regions,width=1200,
           toolbar_location=None, tools="hover")

In [100]:
p.vbar_stack(cols,x='Regions',color=["blue","orange"],source=df1,legend_label=cols)

[GlyphRenderer(id='4213', ...), GlyphRenderer(id='4232', ...)]

In [101]:
show(p)